.db-table {
    /*border: 1px solid black;*/
    border-spacing: 0;
}

.container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.portion {
    /*flex: 1;*/
}

.db-table th {
    border: 1px solid black;
}

.db-table td:last-of-type {
    border-right: 1px solid black;
}

.db-table tr:last-of-type td {
    border-bottom: 1px solid black;
}

.db-table td {
    border-left: 1px solid black;
    padding-inline: 0.5rem 0.5rem;
}

.bold {
    font-weight: 600;
}

.db-table tbody tr:nth-of-type(2n) {
    background: #d2eaff;
}

.db-table thead {
    background: deepskyblue ;
}